/*
상단바 색상: 검정
상단바 테두리: 사용
*/

#navbar {
	background-color: #323232;
	border-bottom: 8px solid #f8f8f8 !important;
}

#navbar.navbar-inverse .navbar-nav li > a {
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
#navbar.navbar-inverse .dropdown-menu>li:hover>a,
#navbar.navbar-inverse .navbar-nav>li.open>a,
#navbar.navbar-inverse .navbar-nav>li.active>a {
	background: rgba(0,0,0,.2);
	border-top-color: #ea5859;
}